<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" >
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!-- DQLayout format="text" compactText = "true" /-->
            <PatternLayout
                    pattern="%d{ISO8601} [%-5p][%-10.10t][%32.32c] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>